@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

// base + typography > general layout + grid > page layout > component

// 1em =16px
// 600px - 600/16 =37.5em -phone
// 900px - 56.25em -tab-port
// 1200 - 75em -tab-land
// 1800+ -big-desk

@mixin respond($brekpoint) {
	@if $brekpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}

	@if $brekpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	@if $brekpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	@if $brekpoint == big-desk {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}
