*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	padding: 3rem;
}

html {
	font-size: 62.5%;
	/* 10 / 16 = 62.5% 
	Default font-size of browser is 16px.
	*/
}
