.primary-heading {
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 5rem;
	/* in case there is shakiness of animation use below property */
	backface-visibility: hidden;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		/* animation-timing-function: ease-out; */
		animation-duration: 1s;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;

		animation: moveInRight 1s ease-out;
	}
}
