.composition {
	position: relative;
	&__img {
		width: 55%;
		border-radius: 3px;
		box-shadow: 0 1.5rem 2rem rgba($color-black, 0.3);
		position: absolute;
		transition: all 0.2s;
		z-index: 10;
		outline-offset: 1rem;

		&--p1 {
			left: 0;
			top: -2rem;
		}
		&--p2 {
			right: 0;
			top: 2rem;
		}
		&--p3 {
			left: 20%;
			top: 12rem;
		}
		&:hover {
			z-index: 20;
			outline: 0.8rem solid $color-primary;
			transform: translateY(-2px) scale(1.2);
		}
	}

	&:hover &__img:not(:hover) {
		transform: scale(0.95);
	}
}
